@using WLabs.Days.UI.Controllers
@using WLabs.Days.UI.Models
@model DaysReservationFormViewModel

@{
	Html.EnableClientValidation(true);
	Html.EnableUnobtrusiveJavaScript(true);
}

<div class="row">
	@if (Convert.ToBoolean(TempData["IsSuccessful"]))
	{
		<h1>Merci!</h1>
		<p>@Html.DisplayForModel()</p>
		<p>Nous allons vous recontacter prochainement pour confirmer votre réservation.</p>
	}
	else
	{
		<div id="order-container" class="3u">
			@using (Html.BeginUmbracoForm<DaysReservationFormController>("SaveForm"))
			{
				<h1>Votre voyage <span id="total-distance">0</span> km</h1>

				@Html.ValidationSummary(true)
				@Html.AntiForgeryToken()

				@Html.TextBoxFor(model => model.Start, new { id = "text-start", placeholder = "Départ" })
				@Html.ValidationMessageFor(model => model.Start)

				@Html.TextBoxFor(model => model.Destination, new { id = "text-end", placeholder = "Destination" })
				@Html.ValidationMessageFor(model => model.Destination)

				@Html.TextBoxFor(model => model.StartAt, new { placeholder = "Départ à" })
				@Html.ValidationMessageFor(model => model.StartAt)

				@Html.TextBoxFor(model => model.VehicleType, new { placeholder = "Type de véhicule" })
				@Html.ValidationMessageFor(model => model.VehicleType)

				<br />

				@Html.TextBoxFor(model => model.Name, new { placeholder = "Votre nom" })
				@Html.ValidationMessageFor(model => model.Name)

				@Html.TextBoxFor(model => model.Email, new { placeholder = "Email" })
				@Html.ValidationMessageFor(model => model.Email)

				@Html.TextBoxFor(model => model.Phone, new { placeholder = "# téléphone" })
				@Html.ValidationMessageFor(model => model.Phone)

				@Html.HiddenFor(model => model.Number1)
				@Html.HiddenFor(model => model.Number2)
				@Model.Number1<text> + </text>@Model.Number2<text> = ?</text>
				@Html.TextBoxFor(model => model.Captcha, new { placeholder = "Somme de deux chiffres" })
				@Html.ValidationMessageFor(model => model.Captcha)

				<input type="submit" value="Réserver" />
			}
		</div>
		<div class="9u">
			<div id="map"></div>
		</div>
	}
</div>